
    <div class="row">
        <div class="col-lg-4">
            <div class="login-input-head">
                <p>Full Name</p>
            </div>
        </div>
        <div class="col-lg-8">
            <div class="row">
                <div class="col-lg-6">
                 
                </div>
                <div class="col-lg-6">
                    <div class="login-input-area">
                        @Html.TextBoxFor(m => m.LastName, new { @class = "login-input-area register-mg-rt" })
                        <i class="fa fa-user login-user"></i>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-4">
            <div class="login-input-head">
                <p>Username</p>
            </div>
        </div>
        <div class="col-lg-8">
          
        </div>
    </div>
    <div class="row">
        <div class="col-lg-4">
            <div class="login-input-head">
                <p>Email Address</p>
            </div>
        </div>
        <div class="col-lg-8">
           
        </div>
    </div>
    <div class="row">
        <div class="col-lg-4">
            <div class="login-input-head">
                <p>Password</p>
            </div>
        </div>
        <div class="col-lg-8">
          
        </div>
    </div>
    <div class="row">
        <div class="col-lg-4">
            <div class="login-input-head">
                <p>Confarm Password</p>
            </div>
        </div>
        <div class="col-lg-8">
          
        </div>
    </div>
    <div class="row">
        <div class="col-lg-4"></div>
        <div class="col-lg-8">
            <div class="login-keep-me register-check">
                <label class="checkbox">
                    <input type="checkbox" name="remember" checked><i></i>Send a copy to my e-mail address
                </label>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-4"></div>
        <div class="col-lg-8">
            <div class="login-keep-me register-check">
                <label class="checkbox">
                    <input type="checkbox" name="remember" checked><i></i>I want to receive news and special offers
                </label>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-4"></div>
        <div class="col-lg-8">
            <div class="login-button-pro">
                <button type="submit" class="login-button login-button-rg">Log In</button>
                <button type="submit" class="login-button login-button-lg">Register</button>
            </div>
        </div>
    </div>
  


}
